<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
<h2>MediScan AI Dashboard</h2>
<a href="/logout">Logout</a>
</div>

<div class="container">
<div class="card">
<h2>Dashboard</h2>

<a href="/analyze_page"><button>Analyze Health</button></a><br><br>
<a href="/history"><button>History</button></a><br><br>
<a href="/graph"><button>Health Graph</button></a><br><br>
<a href="/download_report"><button>Download Report</button></a><br><br>
<a href="/book"><button>Book Appointment</button></a><br><br>
<a href="/chat"><button>AI Chat Assistant</button></a><br><br>
<a href="/profile"><button>Profile</button></a><br><br>
<a href="/admin"><button>Admin Panel</button></a>

</div>
</div>

</body>
</html>