<!DOCTYPE html>
<html>
<head>
<title>History</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>Health History</h2>

<table>
<tr>
<th>Date</th>
<th>BP</th>
<th>Sugar</th>
<th>BMI</th>
<th>Heart</th>
<th>Risk</th>
<th>Doctor</th>
</tr>

{% for row in data %}
<tr>
<td>{{ row[8] }}</td>
<td>{{ row[0] }}</td>
<td>{{ row[1] }}</td>
<td>{{ row[2] }}</td>
<td>{{ row[3] }}</td>
<td>{{ row[4] }}</td>
<td>{{ row[6] }}</td>
</tr>
{% endfor %}
</table>

</body>
</html>