<!DOCTYPE html>
<html>
<head>
<title>MediScan AI</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
<h2>MediScan AI</h2>
<div>
<a href="/login">Login</a>
<a href="/register">Register</a>
</div>
</div>

<div class="hero">
<h1>MediScan AI</h1>
<p>AI Powered Smart Healthcare Analysis & Hospital Locator</p>
<a href="/login"><button>Get Started</button></a>
</div>

<h2>Nearby Hospitals</h2>
<iframe
    width="80%"
    height="400"
    style="border:0"
    loading="lazy"
    allowfullscreen
    src="https://maps.google.com/maps?q=hospitals&t=&z=13&ie=UTF8&iwloc=&output=embed">
</iframe>

</body>
</html>